{% extends 'BaseApp/base.html' %}
{% load static %}

{% block content %}

<div class="card-box mb-30">
    <div class="pd-30">
        <h4 class="text-info h4">Reporte Ventas de Cliente <br><strong class="text-danger"> {{ver.negocio}} </strong>
        <br>Total de Compras <strong class="text-danger">Q.{{total.tot}}</strong>
        </h4>
    </div>
    
    <div class="pd-20">
    
      <table class="table table-hover">
        <thead align="center">
          <tr>
            <th scope="col">Tipo de Venta</th>
            <th scope="col">Cantidad de Veces</th>
            <th scope="col">Ver</th>
          </tr>
        </thead>
        <tbody align="center">
          <tr>
            <td>1</td>
            <td>Compras en Efectivo</td>
            <td><a class="badge bg-primary text-white" href="{% url 'RE' n %}">{{te}}</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Compras Con Cheque</td>
            <td><a class="badge bg-primary text-white" href="{% url 'RC' n %}">{{tc}}</a></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Compras con Tarjeta Debito/Credito</td>
            <td><a class="badge bg-primary text-white" href="{% url 'RT' n %}">{{tt}}</a></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Compras con Depositos Bancarios</td>
            <td><a class="badge bg-primary text-white" href="{% url 'RD' n %}">{{td}}</a></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Compras con Notas de Credito</td>
            <td><a class="badge bg-primary text-white" href="{% url 'RNC' n %}">{{nc}}</a></td>
          </tr>
        </tbody>
      </table>


    </div>


{% endblock %}