{% extends 'BaseApp/loginbase.html' %}

{% block content %}


   
    <form action="" method="POST">{% csrf_token %}
    
        <div style="margin: 10px;">
        <label for="usernane"><strong>Usuario</strong></label>
        {{form.username}}
        </div>
        <div style="margin: 10px;">
        <label for="password"><strong>Password</strong></label>
        {{form.password}}
        </div>    
        <hr>
        <div class="container" align="center">
            <button type="submit" class="btn btn-success">Ingresar</button>
            <button type="reset" class="btn btn-danger">Cancelar</button>
        </div>

   
    </form>
    <br>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
{% endif %}  


{% endblock %}