{% extends 'BaseApp/base.html' %}
{% load static %}

{% block content %}
{% for cli in cli %}
<div class="row">    
  <div class="col-md-4 col-sm-12">
      <div class="form-group">
          <label>Nit Cliente</label>
          <input type="text" class="form-control" name="venta" value="{{ cli.nit }}" readonly>
      </div>
  </div>
  <div class="col-md-4 col-sm-12">
      <div class="form-group">
          <label>Negocio Cliente</label>
          <input type="text" class="form-control" readonly value="{{cli.negocio}}">
      </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="form-group">
        <label>Direccion Negocio Cliente</label>
        <input type="text" class="form-control" readonly value="{{cli.direccion}}">
    </div>
  </div>
</div>
{% endfor %}
<hr>

<br>
{% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
  {% endif %}      
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Precio Unidad</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody id="nombres">
      <form action="" method="POST">{% csrf_token %}
      {% for a in resumen %}  
      <tr>
        <th scope="row"><input type="text" class="form-control" name="codigo" value="{{ a.codigo }}" readonly></th>
        <td><input type="text" class="form-control" name="precio" value="{{ a.precio }}" readonly></td>
        <td><input type="text" class="form-control" name="cantidad" value="{{ a.cantidad }}" readonly></td>
        <td><input type="text" class="form-control" name="total" value="Q.{{ a.total }}" readonly></td>
      </tr>
      {% endfor %}
      <tr><button type="submit" class="btn btn-primary btn-sm">Finalizar Compra</button></tr>
      </form>
    </tbody>
  </table>



{% endblock %}