{% extends 'BaseApp/base.html' %}
{% load static %}

{% block content %}
<input type="text" class="form-control" id="filtrar" placeholder="Filtrar Por Referencia" name="f" autofocus="f" />
<br>
{% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
  {% endif %}
  <br>
 
  <br> <br>         
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Referencia</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Existencia</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
        <th scope="col">Agregar</th>
        <th scope="col">Finalizar Compra</th>
      </tr>
    </thead>
    <tbody id="nombres">
      {% for a in art %}  
      <tr>
        <form action="" method="POST">{% csrf_token %}
        <th scope="row"><input type="text" class="form-control" name="codigo" value="{{ a.codigo }}" readonly></th>
        <td>{{ a.referencia }}</td>
        <td>{{ a.descripcion }}</td>
        <td>{{ a.existencia }}</td>
        <td><input type="number" class="form-control" name="precio" value="{{ a.precio_venta }}" readonly id="txt_campo_1"></td>
        <td><input type="number" class="form-control" name="cantidad"  id="txt_campo_2" onchange="multiplica(this.value);"/></td>
        <td><input type="number" class="form-control" name="total" readonly  id="total"/></td>
        <td><button class="btn btn-success" type="submit">+</button></td>
        <td><button class="btn btn-danger" type="submit" name="fin">Fin</button></td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script >
    function filtro() {
      // Accede al texto de entrada y a varios elementos del DOM
      let valor = document.getElementById("filtrar").value.toUpperCase();
      let nombres = document.getElementById("nombres");
      let filas = nombres.getElementsByTagName("tr");
    
      // Iteramos el arreglo de filas
      for(let i = 0; i < filas.length; i++){
        // Por cada fila se obtiene la referencia a la columna negocio
        let columnaLenguaje = filas[i].getElementsByTagName("td")[1];
        console.log(columnaLenguaje);
        // Se extrae el texto de la columna referencia
        let lenguaje = columnaLenguaje.textContent;
        // Se muestra u oculta la fila si la entrada de texto
        // coincide con el texto de la columna lenguaje
        filas[i].style.display = lenguaje.toUpperCase().indexOf(valor) > -1 ? "" : "none";
      }
    }
    
    // Se agrega un escuchador de eventos a la entrada de texto
    // para activar la función de filtrado cada vez que el usuario
    // ingresa texto en la entrada
    document.getElementById("filtrar").addEventListener("keyup", filtro);
    </script>      
    
    

    <script>
      /* Multiplicar dos números. */
    function multiplica (valor) {
    var cantidad = 0.00;
    cantidad = parseFloat(valor).toFixed(2);
    var precio = document.getElementById("txt_campo_1").value;
    precio_compra = parseFloat(precio).toFixed(2)
    console.log(parseFloat(precio_compra*cantidad));
    document.getElementById("total").value = parseFloat(precio_compra*cantidad).toFixed(2);
    //document.getElementById('spTotal').innerHTML = total;
    
}
    </script>

{% endblock %}