{% extends 'BaseApp/base.html' %}
{% load static %}

{% block content %}

    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Datos de Cliente</h4>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Nit</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
             
                </div>
            </div>
      
       

            <!-- Form grid Start -->
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Form grid</h4>
                        <p class="mb-30">All bootstrap element classies</p>
                    </div>
                   
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>col-md-4</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>col-md-4</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>col-md-4</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>col-md-3</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>col-md-3</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>col-md-3</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>col-md-3</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>col-md-6</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>col-md-6</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>col-md-6</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>col-md-3</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>col-md-3</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>col-md-12</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                                <label>col-md-2</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                                <label>col-md-2</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                                <label>col-md-2</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                                <label>col-md-2</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                                <label>col-md-2</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                                <label>col-md-2</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="collapse collapse-box" id="form-grid-form" >
                    <div class="code-box">
                        <div class="clearfix">
                            <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#form-grid"><i class="fa fa-clipboard"></i> Copy Code</a>
                            <a href="#form-grid-form" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
                        </div>
                        <pre><code class="xml copy-pre" id="form-grid">
<form>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="form-group">
            <label>col-md-4</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="form-group">
            <label>col-md-4</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="form-group">
            <label>col-md-4</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-12">
        <div class="form-group">
            <label>col-md-3</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="form-group">
            <label>col-md-3</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="form-group">
            <label>col-md-3</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="form-group">
            <label>col-md-3</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label>col-md-6</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label>col-md-6</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label>col-md-6</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="form-group">
            <label>col-md-3</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="form-group">
            <label>col-md-3</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
</form>
                        </code></pre>
                    </div>
                </div>
            </div>
            <!-- Form grid End -->


        </div>
    </div>


<form action="" method="POST">{% csrf_token %}
    <input type="text" name="dato"/>
    <div class="container" align="center">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

</form>


{% endblock %}