{% extends 'BaseApp/base.html' %}
{% load static %}

{% block content %}
<div class="pd-ltr-20">
    <div class="card-box pd-20 height-100-p mb-30">
        <form method="POST">
            {% csrf_token %}
            <div class="container overflow-hidden">
                <h3>Ingreso de Nuevo Articulo</h3><hr><br>
                <div class="row gy-5">
                  <div class="col-6">
                    <label for="">Codigo Articulo</label>
                    {{form.codigo}}
                    <br>
                  </div>
                  <div class="col-6">
                    <label for="">Referencia Articulo</label>
                    {{form.referencia}}
                    <br>
                  </div>
                  
                  <div class="col-6">
                    <label for="">Descripcion Articulo</label>
                    {{form.descripcion}}
                    <br>
                  </div>
                  <div class="col-6">
                    <label for="">Marca Articulo</label>
                    {{form.marca}}
                    <br>
                  </div>
            
                  <div class="col-6">
                    <label for="">Precio Compra Articulo</label>
                    {{form.precio_compra}}
                    <br>
                  </div>
                  <div class="col-6">
                    <label for="">Precio Venta Articulo</label>
                    {{form.precio_venta}}
                    <br>
                  </div>

                  <div class="col-6">
                    <label for="">Descuento Articulo</label>
                    {{form.precio_compra}}
                    <br>
                  </div>
                  <div class="col-6">
                    <label for="">Existencia Articulo</label>
                    {{form.precio_venta}}
                    <br>
                  </div>

                  <div class="col-6">
                    <label for="">Imagen Articulo</label>
                    {{form.imagen}}
                    <br>
                  </div>
                  <div class="col-6">
                    <label for="">Usuario</label>
                    <input type="text" class="form-control" name="user" readonly required value="{{user.username}}">
                    <br>
                  </div>

                </div>
              </div>
             <div class="container" align="center">
                <button class="btn btn-success" type="submit">Ingresar</button>
             </div>

        </form>
    </div>
    
    
</div>

{% endblock %}

