{% extends 'BaseApp/base.html' %}
{% load static %}

{% block content %}

<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            {% for detalle in form %} <h4 class="text-info">Nit Cliente: </h4><h3 class="text-danger">{{ detalle.nit }}</h3> 
            <p class="mb-5">Negocio Cliente: <strong>{{ detalle.negocio }}</strong></p>
            <p class="mb-5">Nombre de Cliente: <strong>{{ detalle.nombres }} {{ detalle.apellidos }} </strong></p>
            <p class="mb-30">Total Comprado: <strong>Q.{{ detalle.cuenta }}</strong></p>
            {% endfor %}
        </div>
        <div class="pull-right">
            <button class="btn btn-primary btn-sm scroll-click" rel="content-y" onclick="javascript:window.print()"  data-toggle="collapse" role="button"><i class="fa fa-print"></i> Imprimir</button>
            <a href="{% url 'InventarioClientes' %}" class="btn btn-success">Regresar</a>
        </div>
    </div>
    <form>
        {% for detalle in form %}
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Nit Cliente</label>
                    <input type="text" class="form-control" value="{{ detalle.nit }}" readonly>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Negocio Cliente</label>
                    <input type="text" class="form-control" value="{{ detalle.negocio }}" readonly>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Nombre del Cliente</label>
                    <input type="text" class="form-control" value="{{ detalle.nombres }} {{ detalle.apellidos }}" readonly>
                </div>
            </div>
        </div>  
        
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Direccion del Cliente</label>
                    <input type="text" class="form-control" value="{{ detalle.direccion }}" readonly>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Telefono</label>
                    <input type="text" class="form-control" value="{{ detalle.telefono }}" readonly>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Telefono 2</label>
                    <input type="text" class="form-control" value="{{ detalle.telefono2 }}" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Correo Electronico del Cliente</label>
                    <input type="text" class="form-control" value="{{ detalle.correo }}" readonly>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>

  
</div>

{% endblock %}