{% if user.is_authenticated and user.is_active and user.rol == "admin" %}
<!DOCTYPE html>
<html>
	{% load static %}
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Import Clouthing</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'BaseApp/vendors/images/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'BaseApp/vendors/images/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'BaseApp/vendors/images/favicon-16x16.png' %}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/vendors/styles/core.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/vendors/styles/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/src/plugins/datatables/css/dataTables.bootstrap4.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/src/plugins/datatables/css/responsive.bootstrap4.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/vendors/styles/style.css' %}">

	
</head>
<body>


	<div class="header">
		<div class="header-left">
			<div class="menu-icon dw dw-menu"></div>
			
		</div>
		<div class="header-right">
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						
						<span class="user-name">{{user.first_name}}</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<a class="dropdown-item" href="#"><i class="dw dw-user1"></i> Perfil</a>
						<a class="dropdown-item" href="#"><i class="dw dw-settings2"></i>Configuracion</a>
						<a class="dropdown-item" href="{% url 'Salir' %}"><i class="dw dw-logout"></i>Salir</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="{% url 'InicioAdmin' %}">
				<h5 class="text-white">Import Clouthing</h5>
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-house-1"></span><span class="mtext">Articulos</span>
						</a>
						<ul class="submenu">
							<li><a href="{% url 'NuevoArt' %}">Ingreso Nuevo Articulo</a></li>
							<li><a href="#">Actualizar Articulo</a></li>
							<li><a href="#">Eliminar Articulo</a></li>
							<li><a href="#">Inventario Articulos</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-user1"></span><span class="mtext">Clientes</span>
						</a>
						<ul class="submenu">
							<li><a href="{% url 'NuevoCliente' %}">Nuevo Cliente</a></li>
							<li><a href="#">Actualizar Cliente</a></li>
							<li><a href="#">Eliminar Cliente</a></li>
							<li><a href="#">Descuento Cliente</a></li>
							<li><a href="#">Historial Cliente</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-bus"></span><span class="mtext">Envios</span>
						</a>
						<ul class="submenu">
							<li><a href="{% url 'NuevoEnvio' %}">Programar Envio</a></li>
							<li><a href="#">Historial de Envio</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-money"></span><span class="mtext">Caja</span>
						</a>
						<ul class="submenu">
							<li><a href="#">Nueva Venta</a></li>
							<li><a href="#">Actualizar Venta</a></li>
							<li><a href="#">Eliminar Venta</a></li>
							<li><a href="#">Historial Venta</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-invoice"></span><span class="mtext">Pagos</span>
						</a>
						<ul class="submenu">
							<li><a href="#">Pago con Cheque</a></li>
							<li><a href="#">Pago con Deposito</a></li>
							<li><a href="#">Pago en Efectivo</a></li>
							<li><a href="#">Historial Pagos</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-analytics-21"></span><span class="mtext">Reportes</span>
						</a>
						<ul class="submenu">
							<li><a href="#">Reporte Ventas</a></li>
							<li><a href="#">Reporte Por Articulo</a></li>
							<li><a href="#">Reporte por Fecha</a></li>
							<li><a href="#">Reporte por Cliente</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-right-arrow1"></span><span class="mtext">Promociones</span>
						</a>
						<ul class="submenu">
							<li><a href="#">Descuentos por Articulo</a></li>
							<li><a href="#">Descuentos por Cliente</a></li>
							<li><a href="#">Desucuentos Generales</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-browser2"></span><span class="mtext">Facturas</span>
						</a>
						<ul class="submenu">
							<li><a href="#">Factura de Pedido</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-notebook"></span><span class="mtext">Notas de Credito</span>
						</a>
						<ul class="submenu">
							<li><a href="#">Nota Credito de Pedido</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-copy"></span><span class="mtext">Recordatorios</span>
						</a>
						<ul class="submenu">
							<li><a href="#">Nuevo Recordatorio</a></li>
							<li><a href="#">Actualizar Recordatorio</a></li>
							<li><a href="#">Eliminar Recordatorio</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>
	<div class="main-container">
	{% block content %}
	{% endblock %}
	<div class="footer-wrap pd-20 mb-20 card-box">
		Import Clouthing <a href="#">Tienda Online</a>
	</div>
    </div>
	<!-- js -->
	<script src="{% static 'BaseApp/vendors/scripts/core.js' %}"></script>
	<script src="{% static 'BaseApp/vendors/scripts/script.min.js' %}"></script>
	<script src="{% static 'BaseApp/vendors/scripts/process.js' %}"></script>
	<script src="{% static 'BaseApp/vendors/scripts/layout-settings.js' %}"></script>
	<script src="{% static 'BaseApp/src/plugins/apexcharts/apexcharts.min.js' %}"></script>
	<script src="{% static 'BaseApp/src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'BaseApp/src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'BaseApp/src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'BaseApp/src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static 'BaseApp/vendors/scripts/dashboard.js' %}"></script>
	
</body>
</html>
{% else %}
  <script>
      alert("no estas logeado")
      window.location.href='/';
  </script>
{% endif %}