{% extends 'BaseApp/base.html' %}
{% load static %}

{% block content %}
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            {% for detalle in form %} <h4 class="text-info">Cliente: </h4><h3 class="text-danger">{{ detalle.nombres }} {{ detalle.apellidos }}</h3> {% endfor %}
            <p class="mb-30">Detalles del Cliente</p>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary btn-sm scroll-click" rel="content-y" onclick="javascript:window.print()"  data-toggle="collapse" role="button"><i class="fa fa-code"></i>Imprimir</button>
        </div>
    </div>
    <form>
        {% for detalle in form %}
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <label>Codigo de Cliente</label>
                    <input type="text" class="form-control" value="{{ detalle.id }}" readonly>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <label>Nit de Cliente</label>
                    <input type="text" class="form-control" value="{{ detalle.nit }}" readonly>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <label>Tipo de Cliente</label>
                    <input type="text" class="form-control" value="{{ detalle.tipo }}" readonly>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="form-group">
                    <label>Telefono del Cliente</label>
                    <input type="text" class="form-control" value="{{ detalle.telefono }}" readonly>
                </div>
            </div>
        </div>  
        
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Nombre y Apellidos</label>
                    <input type="text" class="form-control" value="{{ detalle.nombres }} {{ detalle.apellidos }}" readonly>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Direccion Cliente</label>
                    <input type="text" class="form-control" value="{{ detalle.direccion }}" readonly>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Correo Electronico</label>
                    <input type="text" class="form-control" value="{{ detalle.correo }}" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Cuenta Corriente</label>
                    <input type="text" class="form-control" value="Q.{{ detalle.cuenta }}" readonly>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
  
</div>
{% endblock %}
